.service-section {
  * {
    font-family: "Roboto" !important;
  }
  .service-title {
    text-align: center;
    margin: 30px;
    font-family: "Roboto";
  }
  .service-item {
    width: 550px;
    margin: 0 auto;
    margin-bottom: 30px;
    img {
      width: 100%;
      height: 400px;
      border-radius: 6px;
    }
    h3 {
      font-family: "Poppins";
      font-weight: bold;
      font-size: 20px;
      color: rgb(24, 99, 171);
      margin: 10px 0px;
    }
    .read-more {
      a {
        color: red;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
}

@media (min-width: 10px) and (max-width: 500px) {
  .service-section {
    width: 100% !important;
    .service-title {
      margin: 30px !important;
    }
    .service-item {
      width: 100%;
      margin: 0 auto;
      margin-bottom: 30px !important;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      img {
        width: 100%;
        border-radius: 6px;
      }
      h3 {
        margin: 10px !important;
      }
      p {
        text-align: center;
        margin-bottom: 10px !important;
      }
      .read-more {
        a {
          color: red;
          cursor: pointer;
          text-decoration: none;
        }
      }
    }
  }
}
