.comment-section {
  background-color: #f8f8f8;
  padding: 90px 0px;
  margin-top: 50px;
  .col {
    border: none;
    h1 {
      font-family: "Roboto";
      text-align: center;
      margin: 30px 0px;
    }
    .carousel-indicators {
      button {
        background-color: rgb(24, 99, 171);
        border-radius: 50%;
        width: 12px;
        height: 12px;
      }
      margin-bottom: -50px;
    }
    .carousel-inner {
      width: 760px;
      margin: 0 auto;

      p {
        text-align: center;
        color: rgb(72, 65, 65);
        font-family: "Poppins";
      }
      h3 {
        text-align: center;
        font-family: "Roboto";
      }
    }
  }
}

@media (min-width: 10px) and (max-width: 500px) {
  .comment-section {
    width: 100% !important;
    .col {
      h1 {
        font-size: 25px;
        margin: 10px 0px !important;
      }
      .carousel-indicators {
        width: 100% !important;

        button {
          background-color: rgb(24, 99, 171);
          border-radius: 50%;
          width: 12px;
          height: 12px;
        }
        margin-bottom: 10px !important;
      }
      .carousel-inner {
        width: 100% !important;
        height: 160px !important;
        overflow: hidden !important;
        .carousel-item{
          overflow: hidden !important;
          height: 100%;
        }
        p {
          font-size: 12px;
        }
        h3 {
          font-size: 14px;
          margin-top: 15px !important;
        }
      }
    }
  }
}
