.about-section {
  * {
    font-family: "Roboto" !important;
  }
  h2 {
    text-align: center;
    margin: 30px;
  }
  .about-img {
    width: 470px;
    img {
      width: 100%;
      border-radius: 5px;
      height: 80%;
    }
  }
  .about-text {
    margin-left: 30px;
    h3 {
      width: 700px;
      font-size: 30px;
      color: rgb(24, 99, 171);
      margin-bottom: 30px;
    }
    p {
      width: 700px;
      font-size: 20px;
    }
    .read-more {
      a {
        text-decoration: none;
        color: red;
        cursor: pointer;
      }
    }
  }
  .back-img {
    margin-top: 70px;
    border: none;
    height: 690px;
    position: relative;

    p,
    h2,
    h3 {
      color: white;
    }
  }
  .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.625);
    position: absolute;
    .overlay-text {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      h3 {
        font-size: 33px;
        // border: 2px solid;
        width: 250px;
        margin: 20px 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-decoration: underline;
      }
      p {
        font-size: 18px;
        // border: 2px solid;
        width: 950px;
        margin: 20px 0px;
        padding-left: 5px;
      }
    }
  }
  .mobile {
    display: none;
  }
}

@media (min-width: 10px) and (max-width: 500px) {
  .about-section {
    width: 100% !important;
    h2 {
      font-family: "Roboto";
      text-align: center;
      margin: 10px 0px !important;
    }
    .about-img {
      width: 470px;
      img {
        width: 100%;
        border-radius: 5px;
      }
    }
    .about-text {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      h3 {
        width: 90% !important;
        text-align: center;
        margin: 10px 0px !important;
        font-weight: bold;
      }
      p {
        width: 90% !important;
        text-align: center;
      }
      .read-more {
        text-align: center;
        margin: 15px !important;
      }
    }
    .back-img {
      h2{
        font-size: 30px;
      }
      .overlay-text {
        display: block;
        h3 {
          font-size: 20px;
          // border: 2px solid;
          width: 100%;
          margin: 20px 0px;
          display: block;
          text-align: center;
        }
        p {
          font-size: 15px;
          // border: 2px solid;
          width: 100%;
          margin-bottom: 10px !important;
          padding-left: 5px;
          text-align: center;
        }
      }
    }
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block !important;
  }
}
