.home-section {
  .carousel-caption {
    text-align: left;
    top: 30%;
    left: 9%;
    h5 {
      font-family: "Poppins", sans-serif;
      line-height: 1.25;
      font-weight: bold;
      color: inherit;
      font-size: 2.25em;
      width: 800px;
      animation: text 1s ease-in;
      margin-bottom: 30px;
    }
  }
  .carousel-item {
    img {
      width: 100%;
      object-fit: cover;
      height: 600px !important;
    }
  }
  .carousel-button-div {
    animation: text 1s ease-in;
    .read-more {
      a {
        text-decoration: none;
        color: white;
        background-color: rgb(24, 99, 171);
        padding: 12px 20px;
        border-radius: 5px;
        transition: all 0.3s;
        margin-right: 10px;
        &:hover {
          cursor: pointer;
          background-color: red;
        }
      }
    }
    .about-me {
      border: 1px solid;
      border-radius: 5px;
      padding: 11px 19px;
      transition: all 0.3s;
      &:hover {
        cursor: pointer;
        background-color: rgb(24, 99, 171);
        border: 1px solid rgb(24, 99, 171);
      }
    }
    a {
      text-decoration: none;
      color: white;
    }
  }
  // .black {
  //   color: black;
  // }
  // .white {
  //   color: white;
  // }
  // .red {
  //   color: red !important;
  // }
}

@keyframes text {
  0% {
    transform: translate(60px);
    opacity: 0;
  }
  100% {
    transform: translate(0px);
  }
}

@media (min-width: 168px) and (max-width: 768px) {
  .home-section {
    height: 300px !important;
    padding: 0px !important;
    // height: 100% !important;

    .carousel-item {
      img {
        height: 300px !important;
      }
    }
  }
  .carousel-inner {
    overflow: hidden !important;
    height: 300px !important;
  }
  .carousel-caption {
    display: block !important;
    h5 {
      width: 250px !important;
      display: block !important;
      font-size: 16px !important;
      margin-bottom: 5px !important;
    }
    p {
      display: block !important;
      font-size: 12px !important;
      margin-bottom: 15px !important;
      width: 300px !important;
    }
  }
  .carousel-button-div {
    .read-more {
      a {
        padding: 8px 15px !important;
        margin-right: 5px !important;
      }
    }
    .about-me {
      padding: 6px 12px !important;
    }
  }
}
