.about-me-section {
  *{
    font-family: "Roboto" !important;
  }
  .section-about-me-img {
    img {
      width: 100%;
      height: 600px;
    }
  }
  .row {
    h1{
      margin: 20px 0px;
      text-align: center;
    }
    .about-me-text {
      h3 {
        font-family: "Roboto";
        color: rgb(24, 99, 171);
        font-weight: 700;
        font-size: 35px;
        margin-top: 50px;
        margin-bottom: 20px;
      }
      p {
        font-family: "Poppins";
        font-size: 18px;
      }
    }
    .about-me-img {
      img {
        margin-top: 60px;
        width: 100%;
        height: 85%;
        border-radius: 5px;
      }
    }
  }
  .back-img {
    margin-top: 70px;
    border: none;
    height: 690px;
    position: relative;
    p,
    h2,
    h3 {
      color: white;
      // text-align: center;
    }
    h2 {
      text-align: center;
      margin: 30px 0px;
    }
  }
  .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.625);
    position: absolute;
    // z-index: -7;
    .overlay-text {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      h3 {
        font-size: 33px;
        // border: 2px solid;
        width: 250px;
        margin: 20px 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-decoration: underline;
      }
      p {
        font-size: 18px;
        // border: 2px solid;
        width: 950px;
        margin: 20px 0px;
        padding-left: 5px;
      }
    }
  }

  .about-me-comment {
    margin-top: -50px;
    width: 100%;
  }
  .about-me-person {
    padding-top: 30px;
    padding-bottom: 30px;
    img {
      width: 100%;
      border-radius: 5px;
    }
    h3 {
      font-family: "Roboto";
      margin-top: 10px;
      text-align: center;
      font-size: 22px;
      color: rgb(24, 99, 171);
    }
    p {
      font-size: 18px;
      text-align: center;
      font-weight: bold;
      color: gray;
    }
  }
}

@media (min-width: 10px) and (max-width: 600px) {
  .about-me-section {
    .section-about-me-img {
      img {
        height: 200px;
      }
    }
    .row {
      h1 {
        padding: 15px 0px !important;
        font-size: 35px;
        // border-bottom: 1px solid #eee;
      }
      .about-me-text {
        h3 {
          text-align: center;
          font-size: 30px;
          margin: 10px 0px !important;
        }
        p {
          text-align: center;
          margin: 10px 0px !important;
        }
      }
      .about-me-img {
        img {
          width: 100%;
          border-radius: 5px;
        }
      }
    }
    .back-img {
      h2{
        font-size: 30px !important;
      }
      .overlay-text {
        display: block;
        h3 {
          font-size: 20px;
          // border: 2px solid;
          width: 100%;
          margin: 20px 0px;
          display: block;
          text-align: center;
        }
        p {
          font-size: 15px;
          // border: 2px solid;
          width: 100%;
          margin-bottom: 10px !important;
          padding-left: 5px;
          text-align: center;
        }
      }
    }

    .about-me-comment {
      margin-top: -50px;
      width: 100%;
    }
    .row {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .about-me-person {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        border: 1px solid rgb(51, 164, 234);
        padding: 10px !important;
        border-radius: 5px;
        margin-bottom: 10px !important;
        width: 95%;
        img {
          width: 90%;
          border-radius: 5px;
        }
        h3 {
          width: 100%;
          text-align: center;
          margin: 10px 0px !important;
        }
        p {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}
